@media all and (max-width: 1199px) {
	.card {
		height: 600px;
	}
}
@media all and (max-width: 991px) {
	.card {
		width: calc(50% - 8px) !important;
		margin: 4px 4px;
		height: 530px;
		padding: 0 15px;
	}

	.slick-slider .card{
		width: calc(100% - 8px) !important;
	}

}
@media all and (max-width: 768px) {
	.page-title{
		line-height: var(--text-heading-font-size);
		margin-top: 40px;
    	margin-bottom: 40px;
	}

	.top-navigation {
		height: auto;
	}

	.top-navigation .ui.equal.width.grid{
		height: auto;
	}

	.website-title{
		text-align: center;
	}

}
@media all and (max-width: 575px) {

	.card-wrapper{
		display: inline-block;	
	}

	.card {
		width: 80% !important;
		margin: 4px auto;
		height: 470px;
		padding: 0 40px;
		float: none;
	}

	.card .fix-bottom{
		padding: 0 40px;
	}

	.filter-menu{
		text-align: center;
	}

	#footer{
		padding: 30px 0;
		font-size: 14px;
	}
}



