/* LG */
@media all and (max-width: 1199px) {
	
}
/* MD */
@media all and (max-width: 991px) {
    
    .ui.search .results{
        right: 0 !important;
        left: unset;
    }
}
/* SM */
@media all and (max-width: 768px) {

    .ui.search{
        text-align: center;
    }

    .top-navigation .website-logo img{
        margin-top: 17px;
    }

    .top-navigation .profile-picture img{
        margin-top: 23px;
    }
}
/* XS */
@media all and (max-width: 575px) {
    
    .top-navigation .website-title{
        width: 100% !important;
    }
}