:root {
    --standard-blue: #4d9dd9;
  }

.content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.card {
    float: left;
    width: calc(25% - 8px);
    margin: 4px 4px;
    height: 570px;
	padding: 0 15px;
}

.card img.poster-picture,
.undefined-logo > img{
    max-width: 200px;
    max-height: 220px;
    position: relative;
    margin: 0 auto;
    padding: 10px 10px;
    cursor: pointer;
}

.undefined-logo{
	min-height: 220px;
	display: flex !important;
	align-items: center;
}

.undefined-logo > img{
	background: black;
}

.card h3 {
    text-align: center;
    cursor: pointer;
}

.card p {
    text-align: left;
    cursor: pointer;
}

.card p span.badge{
	margin: 2px 1px;
	padding: 4px 4px;
}

.marks {
    display: block;
    padding: 0 20px;
    font-size: 17px;
}

#rating {
    float: left;
}

.filmcard-image {
    float: right;
    padding-right: 10px;
}

card #p-bottom {
    background-color: #720C3E;
}

.card .rating .stars,
.marks .rating .stars{
	display: inline-block;
	width: 80px;
	height: 24px;
	position: relative;
	overflow: hidden;
}

.card .rating .stars img{
	width: 80px;
}

.card .rate{
	font-size: 14px;
	line-height: 14px;
}
.badge.badge-primary {
    background-color: var(--standard-blue);
}

.card .fix-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
	margin: 4px 0px 12px 0px;
}

.sliders .card{
	float: none;
	width: calc(100% - 8px);
}
