.film-detail .container .content{
    text-align: center;
    width: 100%;
    margin: 0;
    display: block;
}

.content .main-detail {
margin-top: 10px;
}

.filmdetail-image {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.filmdetail-image .filmdetailimg {
    max-height: 370px;
}

.description {
float: left;
width: 43%;
text-align: left;
}

.main-detail {
padding: 0 5%;
padding-bottom: 20px;
margin-bottom: 20px;
background-color: #003459;
}

.main-detail .image{
    float: left;
}

.detail-description h1 {
text-align: left;
padding: 0 20px;
}

.content .main-detail .description>.title, .main-detail .description>p {
padding: 0 20px;
}

.content .main-detail .description .ui.grid {
margin: 0;
}

.content .video {
margin-top: 10px;
}

.table {
margin-top: 20px;
max-width: 370px;
margin-right: 10px;
border: 1px solid #dee2e6;
float: right;
text-align: center;
color: white;
}

.content .image-slider {
margin: 10px 0 20px 0;
}

h1 {
text-align: center;
color: white;
}

.detail-description {
color: white;
}

.detail-description p {
margin-top: 20px;

}
.film-section-title {
    height: 40px;
    text-align: center;
    font-size: var(--text-heading-font-size);
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing:0.1em;
    color: var(--standard-blue);
}