.film-detail .container .content {
    text-align: center;
    width: 100%;
    margin: 0;
    display: block;
}

.content .main-detail {
    margin-top: 10px;
}

.filmdetail-image {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.filmdetail-image .filmdetailimg {
    max-height: 370px;
}

.description {
    float: left;
    width: 43%;
    text-align: left;
}

.main-detail {
    padding: 0 5%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #003459;
}

.main-detail .image {
    float: left;
    width: 25%;
}

.main-detail .image img {
    width: 100%;
}

.detail-description h1 {
    text-align: left;
    padding: 0 20px;
}

.content .main-detail .description>.title, .main-detail .description>p {
    padding: 0 20px;
}

.content .main-detail .description .ui.grid {
    margin: 0;
}

.content .video {
    margin-top: 10px;
}

.table {
    margin-top: 20px;
    width: 30%;
    border: 1px solid #dee2e6;
    float: left;
    text-align: center;
    color: white;
}

.content .image-slider {
    margin: 10px 0 20px 0;
}

.image-slider img {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: white;
}

.detail-description {
    color: white;
    width: 45%;
}

.detail-description p {
    margin-top: 20px;
}

.film-section-title {
    text-align: left;
    font-size: 32px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--standard-blue);
}

.content-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}