:root {
    --rich-black: #00171F;
    --standard-blue: #2185d0;
    --prussian-blue: #003459;
    --text-menu: 20px;
}

#footer{
    background-color: var( --prussian-blue);
    font-size: 16px;
    line-height: 1;
    padding: 40px 0;

}

#footer p{
    color:white;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}


