:root {
    --white: #ffffff;
    --rich-black: #00171F;
    --prussian-blue: #003459;
    --cerulean: #007EA7;
    --standard-blue: #2185d0;
    --text-heading-font-size: 40px;
    --text-menu: 20px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.blue-content > i,
.grey-content > i{
	margin-right: 4px;
}

.blue-content{
	color: var(--standard-blue) !important;
}

.grey-content{
	color: #cacbcd;
}

body {
    background-color: var(--white);
    color: var(--rich-black);
}

.page-title {
    text-align: left;
    font-size: var(--text-heading-font-size);
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing:0.1em;
    color: var(--standard-blue);
}

#loading-indicator {
    margin-top: 100px;
}

.pagination-component {
    text-align: center;
    margin: auto;   
}

.filter-menu {
    margin-bottom: 10px;
}

.menu {
    padding-right: 10px;
    padding-left: 2px;
}

.ui.search>.results .result .image {
	background: red;
}

.ui.dropdown.addToMyList{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.modal i.icon.add{
	height: 30px;
	display: inline-block;
}

.ui.dropdown>.dropdown.icon{
	top: 12px;
	margin-left: 6px !important;
}

.ui.pagination.menu{
	margin: 15px 0 !important;
}

.container.sliders{
	margin-bottom: 10px;
}