:root {
    --white: #ffffff;
    --rich-black: #00171F;
    --prussian-blue: #003459;
    --cerulean: #007EA7;
    --vivid-cerulean: #00A8E8;
    --standard-blue: #4d9dd9;
    --text-heading-font-size: 40px;
    --text-menu: 20px;
  }

.blue-icon {
	color: #2185d0!important;
	margin-right: 2px;
}

body {
    background-color: var(--white);
    color: var(--rich-black);
}

.page-title {
    text-align: left;
    font-size: var(--text-heading-font-size);
    margin-top: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--vivid-cerulean);
}

.pagination-component {
    text-align: center;
    margin: auto;   
}

.menu {
    padding-right: 10px;
    padding-left: 2px;
}

.ui.search>.results .result .image {
	background: red;
}

.ui.dropdown.addToMyList{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.modal i.icon.add{
	height: 30px;
	display: inline-block;
}

.ui.dropdown>.dropdown.icon{
	top: 12px;
	margin-left: 6px !important;
}