:root {
    --white: #ffffff;
    --rich-black: #00171F;
    --prussian-blue: #003459;
    --cerulean: #007EA7;
    --vivid-cerulean: #00A8E8;
    --text-heading: 30px;
    --text-menu: 25px;
  }

body {
    background-color: var(--white);
    color: var(--rich-black);
}