:root {
    --prussian-blue: #003459;
    --standard-blue: #2185d0;
    --text-menu: 20px;
}

.mylists-button-panel {
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 2px;
}

.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before {
    color: var(--prussian-blue);
}

#add-list-modal {
    height: 208px;
}

.list-header {
    overflow: hidden;
}

.list-title {
    height: 40px;
    float: left;
    text-align: left;
    font-size: var(--text-heading-font-size);
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing:0.1em;
    color: var(--standard-blue);
}

.list-actions {
    height: 40px;
    float: right;
    overflow: hidden;
    margin-top: 45px;
}

.slider-divider {
    border: 1px solid var(--standard-blue);
}

.empty-list {
    height: 200px;
    text-align: center;
    font-size: var(--text-menu);
    padding-top: 20px;
}

.empty-list p {
    margin-top: 20px;
}

.image-prps{
    height: 400px;
}
