:root {
  --white: #ffffff;
  --rich-black: #00171F;
  --prussian-blue: #003459;
  --cerulean: #007EA7;
  --vivid-cerulean: #00A8E8;
  --standard-blue: #4d9dd9;
  --text-heading-font-size: 30px;
  --text-heading-font-weight: bold;
  --text-menu: 20px;
}

.top-navigation {
  background-color: var(--rich-black);
  height: 100px;
  font-size: var(--text-menu);
  color: var(--standard-blue);
}

.top-navigation a {
  color: var(--standard-blue);
}

.ui.equal.width.grid {
  height: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

.middle.aligned.column.search-field {
  font-size: 13px;
  margin-top: 17px;
}

.center.aligned.middle.aligned.column {
  margin-top: 17px;
  font-size: var(--text-menu);
}

.top-navigation img {
  width: 250px;
  margin-top: 25px;
}

.top-navigation-dropdown {
  float: right;
  margin-top: -7px;
}

.container .nav.navbar-nav li {
  display: inline-block;
  margin: 0 10px;
}

.filter-genres {
  margin-top: 5px;
  margin-left: 5px;
}