:root {
    --light-yellow: #FDFFF9;
    --basic-text: #1A3742;
    --intense-green: #278C78;
    --intense-purple: #720C3E;
    --text-heading: 30px;
    --text-menu: 25px;
  }
  
  .top-navigation {
    background-color: var(--intense-purple);
    height: 70px;
    font-size: var(--text-menu);
  }
  
  .top-navigation img {
    height: 55px;
    width: 55px;
    margin-top: 5px;
    margin-left: 50px;
  }
  
  .top-navigation-dropdown {
    float: right;
    margin-right: 50px;
    margin-top: 5px;
  }

  .filter-genres {
    margin-top: 5px;
    margin-left: 5px;
  }