:root{
    --prussian-blue: #003459;
    --standard-blue: #2185d0;
}

#picture img{
    border-radius: 50%;
}
#picture h1{

}

#picture{
    height: 270px;
    width: 100%;
    text-align: center;
    background-color: var(--prussian-blue);
    color: white;
}

#informations{
    margin: 20px 15% 20px 15%;
    min-height: 400px;
    background-color: #f4f5f7;
    padding: 20px;
}

#informations > p {
    color: darkred;
}

.btn.btn-primary {
    background-color: var(--standard-blue) !important;
    border-color: var(--standard-blue) !important;
}
