:root{
    --rich-black: #00171F;
}

#picture img{
    border-radius: 50%;
}
#picture h1{

}

#picture{
    height: 270px;
    width: 100%;
    text-align: center;
    background-color: var(--rich-black);
    color: white;
}

#informations{
    margin: 20px 15% 20px 15%;
    min-height: 400px;
    background-color: #f4f5f7;
    padding: 20px;
    box-shadow: 5px 5px 10px #00171F;
}

